.button{
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    border-radius: 25px;
}
.button:hover{
    transform: scale(1.05);

}
.button:disabled{
    background-color: #888;
    cursor: not-allowed;
}